* {
  padding: 0;
  margin: 10px;
}
.smallBox {
  width: 30px;
  height: 30px;
  border: 1px solid gray;
}

.bigBox {
  display: flex;
  border: 2px solid black;
  width: 200px;
  height: 200px;
}

.b1 {
  justify-content: flex-end;
}

.b2 {
  flex-direction: column;
  justify-content: flex-start;
}

.b3 {
  align-items: flex-end;
}

.b4 {
  justify-content: space-between;
}

.b5 {
  flex-wrap: wrap;
}
